<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace 要设置是实现接口的具体包名加类名, MusicMapper.xml和MusicMapper这个interface关联起来，目的是，要实现的接口是谁，
    就写谁的名字-->
<mapper namespace="com.example.onlinemusic.mapper.LoveMusicMapper">
    <insert id="insertLoveMusic">
        insert into lovemusic(user_id, music_id) values(#{userId}, #{musicId});
    </insert>

    <!-- 取消/删除收藏的音乐-->
    <delete id="deleteLoveMusic">
        delete from lovemusic where user_id=#{userId} and music_id=#{musicId};
    </delete>

    <!--根据用户 ID 和音乐 ID 查询收藏的音乐-->
    <select id="findLoveMusicByMusicAndUserId" resultType="com.example.onlinemusic.model.Music">
        select * from lovemusic where user_id=#{userId} and music_id=#{musicId};
    </select>

</mapper>